.tab {
	position: fixed;
	top: var(--height-header);
	left: var(--width-sidebar);
	z-index: 1;
	width: calc(100% - 2 * var(--width-sidebar));
	height: var(--height-header);
	padding: var(--padding-2r);
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--clr-secondary-background-lighter);
	background-color: var(--clr-primary-background);
}

.tab li {
	flex: 1 1 0px;
	border-right: 1px solid var(--clr-secondary-background-lighter);
	border-left: 1px solid var(--clr-secondary-background-lighter);
}

.tab li a.active,
.tab li a:hover {
	border-bottom: 2px solid var(--clr-brand-primary);
	background-color: var(--clr-primary-background);
}
