.page-overlay {
	position: fixed;
	background-color: var(--clr-overlay);
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.post-form textarea{
	background-color: var(--clr-primary-contrast);
}