.modal-card {
	position: absolute;
	padding: var(--padding-1r);
	background-color: var(--clr-secondary-background-lighter);
	width: max-content;
	height: auto;
	z-index: 10;
	align-items: flex-start;
	cursor: pointer;
}

.modal-card.top-right {
	top: 0;
	right: 0;
}

.modal-card.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-card.bottom-center {
	top: 100%;
	right: 0;
	width: 100%;
}
